img {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: 1;
    top:35%;
    left:50%;
    border-radius: 5px;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    
}

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2.5em;
        color: red;
        font-weight: bolder;
        font-family: fantasy;
        position: absolute;
        top:75%;
        left:50%;
        border-radius: 5px;
        -webkit-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
}


.form-control {
    position: absolute;
    top:85%;
    left:45%;
    border-radius: 5px;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}


.btn-primary {
    color: #fff;
    background-color: #12bbad;
    border-color: #12bbad;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    position: absolute;;
    left: 48em;
    top: 32em;
}