html {
    scroll-behavior: smooth;
  }

  .image{
    background-color: #490D40;
    background:url('封面.jpg') no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
  }
  .image .heading {
    color: white;
    text-align: center;
    font-size:5em;
    padding-top: 200px;
  }

  .image p {
    text-align: center;
    color: white;
    font-size:2em;
    padding: 20px 60px;
  }
  .image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.8em;
  }
  .image p .btn:hover {
    color: #C57ED3;
    border-color: #C57ED3;
  }

#mapid {
    height: 100%;
        }

  .navbar {
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  
  .navbar-default .navbar-brand {
    margin-top: -0.6px;
    color: white;
  }
  .navbar-default .navbar-brand:hover {
    color: #c57ed3;
    border:0.5px solid #c57ed3;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
    margin: -0.6px 5px 5px 5px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:active,
  .navbar-default .navbar-nav > li > a:focus {
    color: #eeedee;
    border: 0.05px solid #c57ed3;
  }
  .navbar-default .navbar-nav > li > a:visited {
    color: #fbf8fc;
    text-decoration: none;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #030003;
  }
  .navbar-default .navbar-toggle {
    border-color: #f9f5fa;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #490d40;
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: #c57ed3;
    background-color: #c57ed3;
  }
  .navbar-default .navbar-collapse.collapse.in ul {
    background-color: #490d40;
  }
  
  /* Solid class attached on scroll past first section */
  .navbar.solid {
    background-color: #490d40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  }
  .navbar.solid .navbar-brand {
    color: #c57ed3;
    transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
    color: #f4f3f5;
    transition: color 1s ease 0s;
  }
  
 